<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shidai.yunshang">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ef20a6cae7e7474500182a" />

        <activity android:name=".activities.MainActivity_"
            android:launchMode="singleTask">

        </activity>

        <activity android:name=".activities.FlashActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity_"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".activities.RegistActivity_"
            android:launchMode="singleInstance"
            android:theme="@style/Translucent"/>

        <activity android:name=".activities.ForgetPwdActivity_"/>

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.PersonMessageActivity_"/>

        <activity android:name=".activities.WebActivity_"/>

        <activity android:name=".activities.TixianWalletActivity_"/>
        <activity android:name=".activities.SuccessTixianActivity_"/>
        <activity android:name=".activities.JiesuanActivity_"/>
        <activity android:name=".activities.InputMoneyActivity_"/>

    </application>

</manifest>