<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shidai.yunshang">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="598d89c0ae1bf83f54001b37" />

        <activity android:name=".activities.MainActivity_"
            android:launchMode="singleTask">

        </activity>

        <activity android:name=".activities.FlashActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity_"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".activities.RegistActivity_"
            android:launchMode="singleInstance"
            android:theme="@style/Translucent"/>

        <activity android:name=".activities.ForgetPwdActivity_"/>

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.PersonMessageActivity_"/>

        <activity android:name=".activities.WebActivity_"/>

        <activity android:name=".activities.TixianWalletActivity_"/>
        <activity android:name=".activities.SuccessTixianActivity_"/>
        <activity android:name=".activities.JiesuanActivity_"/>
        <activity android:name=".activities.InputMoneyActivity_"/>


        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".receives.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.shidai.yunshang" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.JupshReceiveActivity_"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".activities.UpgradeActivity_"/>
        <activity android:name=".activities.GuideActivity_"/>
    </application>

</manifest>